body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-dark);
}

.home {
  margin: 17rem 4rem 7rem 0rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 6rem;
}

.hero-content {
  max-width: 600px;
  font-size: 1.5rem;
}

.hero-content h1 {
  opacity: 0;
  font-size: 2.5rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  transition: opacity 0.5s ease-in;
}

.aos-init-home,
.aos-init-home-image {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.aos-init-home.aos-animate{
  opacity: 1;
  transform: translateY(0);
}

.aos-init-home-image.aos-animate {
  opacity: 1;
  transform: translateY(0) scale(1.25);
}

.hero-content p {
  font-size: 1.1rem;
  font-family: "Mark Script", cursive;
  line-height: 1.6;
  color: var(--text-dark);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: fit-content;
  border-right: .15rem solid var(--border-dark);
  letter-spacing: .15rem;
  animation: typing 3.5s steps(50, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }

  50%{
    border-color: var(--border-dark);
  }
}

.hero-image img {
  width: 300px;
  height: 300px;
  border: 0.5rem solid var(--border-dark);
  border-radius: 50%;
  box-shadow: 0 8px 20px var(--shadow);
  transition: transform 0.3s ease-in-out;
}

.hero-image img:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .home {
    padding: 1.5rem 1rem;
    margin: 8rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;
  }

  .hero-content h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .hero-content p {
    font-size: 1rem;
    width: 100%;
  }
}
