#root, .App {
  height: 100%;
}

#about,#projects,#skills,#contact,#home{
  scroll-margin-top: 80px;
}

:root {
  /* Light Theme Variables */
  --primary-color: #f0f0f0;
  --primary-dark: #001122;
  --primary-medium: #e0e0e0;

  --text-dark: #001122;
  --text-body: #223648;
  --text-muted: #526E7E;

  --card-text-color: #001122;
  
  --card-bg: rgba(235, 235, 237, 0.4);
  --card-bg-dark: #001122;
  --border-dark: #0C1E2E;
  --card-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  --card-hover-shadow: rgba(0, 17, 34, 0.5);

  --header-bg-dark: #001122;
  --header-bg-light: rgba(255, 255, 255, 0.9);
  --header-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --header-shadow-sticky: 0 4px 12px rgba(0, 0, 0, 0.12);

  --input-bg: rgba(255, 255, 255, 0.05);
  --input-border: rgba(255, 255, 255, 0.1);

  --button-bg: #e8e8e8;
  --button-hover-bg: #d8d8d8;
  --button-text-color: #001122;

  --shadow: rgba(0, 0, 0, 0.1);
}

body.dark {
  --primary-color: #001122;
  --primary-dark: #EBEBED ;
  --primary-medium: #545C69;

  --text-dark: #ffffff;
  --text-body: #bbbbbb;
  --text-muted: #888888;

  --card-text-color: #001122;

  --card-bg: rgba(18, 31, 47, 0.5);
  --card-bg-dark: #EBEBED;
  --border-dark: #EBEBED;
  --card-shadow: 0 6px 12px rgba(255, 255, 255, 0.05);
  --card-hover-shadow: rgba(255, 255, 255, 0.2);

  --header-bg-dark: #C3C5CA;
  --header-bg-light: rgba(0, 17, 34, 0.9);
  --header-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
  --header-shadow-sticky: 0 4px 12px rgba(255, 255, 255, 0.08);

  --input-bg: rgba(255, 255, 255, 0.05);
  --input-border: rgba(255, 255, 255, 0.2);

  --button-bg: #333;
  --button-hover-bg: #444;
  --button-text-color: #fff;

  --shadow: rgba(255, 255, 255, 0.1);
}
